@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Zen+Kurenaido&display=swap');

/* UNIVERSAL STYLES */

body {
    /* Display declarations */
    display: flex;
    flex-direction: column;

    /* Text and color declarations */
    background-color: #001219;
    font-family: "Titillium Web","Zen Kurenaido",sans-serif;

    /* CBPM */
    min-width: 500px;
    border-left-style: solid;
    border-left-width: 4px;
    border-color: #9b2226;
    border-top-style: solid;
    border-top-width: 8px;
    margin: 0;
}

.text {
    color: #e9d8a6;
}



/* HEADER STYLES */
.header {
    /* Display declarations */
    display: flex;
    flex-direction: column;

    /* Font and color declarations */
    background-color: #bb3e03;

    /* CBPM */
    padding-left: 20px;
    margin: 0;
}

.title.text {
    /* Font and color declarations */
    font-size: 48px;
    font-weight: 900;
    text-shadow: 1px 2px 4px #000000;

    /* CBPM */
    line-height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #001219;
    padding: 8px 0px 0px 0px;
    margin: 0;

}

.subtitle.text {
    /* Font and color declarations */
    font-size: 24px;
    text-shadow: 1px 1px 2px #000000;

    /* CBPM */
    line-height: 100%;
    padding: 2px 0px 4px 16px;
}


/* CONTAINER STYLES cccccccccccccccccccccccccccccccccccccccccccccccccccccc*/

/* /* PLAYER CONTAINER  p   p   p   p   p   p   p   p   p   p   p   p   p*/
.container.instructions-and-players {
    /* Display declarations */
    display: flex;

    /* CBPM */
    padding: 6px 0px;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF */
}

.container.players {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    flex: 1 1 240px;

    /* CBPM */
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #e9d8a6;
    margin-left: 100px;


    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #FF0000 */
}

.container.players .text.instructions {
    /* Font and color declarations */
    font-size: 18px;

    /* CBPM */
    line-height: 110%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 8px 0 4px 4px;
    margin: 0;
}

.container.players .container {
    /* Display declarations */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    /* Font and color declarations */
    font-size: 20px;
    font-weight: 600;

    /* CBPM */
    padding: 0px 0px 4px 4px;
    margin: 0;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #00FF00 */
}

.randomnize-cpu-name, .button.reset, button.game-over {
    /* Font and color declarations */
    font-size: 16px;
    background-color: #94d2bd;

    /* CBPM */
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #005f73;
    box-shadow: 2px 2px 2px #000000;

    padding: 4px 12px;
}

#playerName {
    /* Font and color declarations */
    font-size: 16px;
    box-shadow: 2px 2px 2px #000000;
}

.container.empty {
    /* Display declarations */
    display: flex;
    flex: 3 3 auto;
}


/* SCORECARD CONTAINER  s   s   s   s   s   s   s   s   s   s   s   s   s */
.container.scorecard {
    /* Display declarations */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 48px;

    /* CBPM */
    padding: 0px 0px 24px 0px;
    margin: 0;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF */
}

.card.scorecard {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* CBPM */
    padding: 0;
    margin: 0;
    
    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #FF0000 */
}

.scorecard.number {
    /* Display declarations */
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Font and color declarations */
    font-size: 144px;
    font-weight: 700;
    color: #94d2bd;
    text-shadow: 4px 4px 4px #005f73;

    /* CBPM */
    line-height: 100%;
    min-width: 120px;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #00FF00 */
}

.text.score {
    /* Font and color declarations */
    text-align: center;
    font-size: 18px;
    font-weight: 600;

    /* CBPM */
    line-height: 100%;
    padding: 4px 0px;
    margin: 0;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #0000FF */
}



/* SELECTION CONTAINER se   se  se  se  se  se  se  se  se  se  se  */
.container.selection {
    /* Display declaration */
    display: flex;
    flex: 1 0 500px;
    justify-content: center;
    gap: 24px;

    /* Font and color declarations */
    background-color: #0a9396;

    /* CBPM */
    min-width: 500px;
    border-style: solid;
    border-width: 8px;
    border-color: #005f73;
    border-left-width: 4px;
    border-right-width: 4px;
    border-left-color: #003d51;
    border-right-color: #003d51;
    padding: 12px;
    margin: 0px 100px;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF */
}

.container.selection.card {
    /* Display declarations */
    display: flex;
    flex: 1 0 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* CBPM */
    min-width: 140px;
    border-style: none;
    padding: 0;
    margin: 0;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #FF0000 */
}

.button.choice {
    /* Display declarations */
    display: flex;

    /* Image formatting */
    height: 100px;
    width: 100px;
    object-fit: none;

    /* CBPM */
    border-radius: 20px;
    box-shadow: 4px 4px 8px #000000;
    padding: 0;
    margin: 0;

    /* DEBUG BORDERS */
    border-style: solid;
    border-width: 4px;
    border-color: #005f73
}

.text.choice {
    /* Display declarations */
    display: flex;

    /* Font and color declarations */
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 4px #9b2226;

    /* CBPM */
    line-height: 100%;
    padding: 0;
    margin: 0;
}



/* RESULTS CONTAINER    r   r   r   r   r   r   r   r   r   r   r   r   r   */
.container.results {
    /* Display declarations */
    display: flex;
    flex-direction: column;

    /* CBPM */
    padding: 24px 0;
    margin: 0;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF */
}

.container.results .text {
    /* Font and color declarations */
    text-align: left;
    font-size: 24px;
    font-style: italic;

    /* CBPM */
    line-height: 100%;
    padding: 2px 120px;
    margin: 0;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #FF0000 */
}

.container.game-buttons {
    /* Display declarations */
    display: flex;
    justify-content: center;
    gap: 24px;

    /* CBPM */
    padding: 24px 100px;
    margin: 0;

    /* DEBUG BORDERS */
    /* border-style: solid;
    border-width: 2px;
    border-color: #00FF00 */
}

.container.results .text.results-header-text {
    /* Font and color declarations */
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    text-shadow: 2px 2px 4px #bb3e03;

    /* CBPM */
    padding: 8px 100px;
}



/* DEBUG BORDERS */
/* border-style: solid;
border-width: 2px;
border-color: #FFFFFF */